.button1{
	width: 80px;
	height: 35px;
	background: #02a7e1;
	margin: 12px;
	box-shadow: 0 0.3px 1px;
	border-radius: 4px;

	a {
		font-size: @logoFontSize;
		color: @fontButtonColor;
		font-family: @fontFamily;

	}
}

.button2{
	width: 80px;
	height: 35px;
	background: #fbfbfb;
	margin: -12px;
	padding: 5px;
	box-shadow: 0 0.3px 1px;
	border-radius: 4px;


	a {
		font-size: @fontSize;
		color: @fontcolor;
		font-family: @fontFamily;

	}

}

.button3{
	width: 80px;
	height: 35px;
	background: #02a7e1;
	box-shadow: 0 0.3px 1px;
	border-radius: 4px;

	a {
		font-size: @logoFontSize;
		color: @fontButtonColor;
		font-family: @fontFamily;

	}
}


